.container {
	padding: 0;

}
section#main {
	padding: 0px 15px;
}

a {
	text-decoration: none;
}
a:hover {			text-decoration: none;
}
/* Header & Navbar styling */

header {
	padding: 10px;
	a {
		color: white;
		margin: 7px;
		text-decoration: none;
	}
	a:hover {
		color: salmon;
		text-decoration: none;
	}
	form {
		display: inline-block;
		input {
			background-color: #222;
			color: salmon;
			width: 300px;
			border: none;
			border-bottom: 1px solid salmon;
			text-transform: uppercase;
			letter-spacing: 0.15em;
		}
		input:focus {
			border: none;
			border-bottom: 1px solid seagreen;
			outline-offset: 0;
			outline-color: #222;
		}
	}
}

div.navbar-header {
	display: inline-block;
}

div.navbar-header.header-right {
		float: right;
	}


/* BOARDS */

.board {
	display: inline-block;
	width: 225px;
	border: 3px solid seagreen;
	background-color: seagreen;
	color: white;
	height: 250px;
	margin: 10px auto;
	h3 {
		text-align: center;
		a {
			color: white;
		}
	}
}